h1 {
font-family: font-family: 'Raleway', sans-serif;
color: #11999E;
text-align: center;
letter-spacing:  5;
font-size: 45;
}

h3 {
color: #6DECB9;
font-family: font-family: 'Raleway', sans-serif ;
}

h4 {color: #53354A;
  font-family: font-family: 'Raleway', sans-serif
}

p {
color: #53354A;
font-family: font-family: 'Raleway', sans-serif;
}

h2 {
color: #F02A71;
font-family: font-family: 'Raleway', sans-serif;
}

img {
  border-radius: 100%; // full circular image;
  border: 5px solid #F02A71;
  height: 200px;
}

a {
color: #6DECB9;
font-size: 40;
}


body {
  font-family: font-family: 'Raleway', sans-serif;
  background-image: url('http://imagens.terceirotempo.bol.uol.com.br/41/79/arq_184179.jpg');
  background-position: center top;
  background-size: cover;
  text-align: center;
  margin-left:50;
  margin-right: 50;
  margin-bottom: 50;
  margin-top:50;
}

.card {
    background: #FFE869;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 4px;
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.2);
}

.text-center {
    text-align: center;
}

div {
    display: block;
}

.container {
  width: 500px;
  margin: 0 auto;
}

.list-inline  li {
  display: inline-block;
  padding: 0px 15px;
}


.text-center {
  text-align: center;
}

table {
    white-space: auto
    text-align: center;
    font-variant: normal normal;
}

